.formControl.error input,
.formControl.error textarea
{
    border: solid blue 2px
}
.formControl.error span
{
    color: blue;
}
.formSummaryError{
    border:   blue 2px solid;
    padding: 5px;
    color: blue;
}
